In [2]:
import pandas as pd

In [ ]:
df1 = pd.read_csv('delhi_2023.csv')
df2 = pd.read_csv('Bangalore_2022.csv')
df3 = pd.read_csv('chennai_2023.csv')
df4 = pd.read_csv('Mumbai_2022.csv')

In [7]:
df1['city'] = 'Delhi'  
df2['city'] = 'Bangalore'  
df3['city'] = 'Chennai'  
df4['city'] = 'Mumbai'

In [8]:
merged_df = pd.concat([df1, df2, df3, df4], ignore_index=True)

In [11]:
merged_df['price'] = merged_df['price'] / 100000

In [12]:
merged_df.head()

      location  area  bhk   price   city
0    Karampura  3200    4  1446.0  Delhi
1  Vasant Kunj  1200    3    70.0  Delhi
2    Karampura  1219    3   485.0  Delhi
3  Vasant Kunj   800    2    50.0  Delhi
4    Karampura  2400    3   996.0  Delhi

In [13]:
merged_df.to_csv('merged_file.csv', index=False)